USE [master]
GO
/****** Object:  Database [TrainingBatch5]    Script Date: 9/24/2025 8:37:00 PM ******/
CREATE DATABASE [TrainingBatch5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingBatch5', FILENAME = N'F:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainingBatch5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingBatch5_log', FILENAME = N'F:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainingBatch5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingBatch5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingBatch5]
GO
/****** Object:  Table [dbo].[Tbl_Blog]    Script Date: 9/24/2025 8:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [nvarchar](50) NOT NULL,
	[BlogAuthor] [nvarchar](50) NOT NULL,
	[BlogContent] [nvarchar](max) NOT NULL,
	[DeleteFlag] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Blog] ON 

INSERT [dbo].[Tbl_Blog] ([BlogId], [BlogTitle], [BlogAuthor], [BlogContent], [DeleteFlag]) VALUES (1, N'New Blog 1', N'Tno', N'This is Content', 0)
INSERT [dbo].[Tbl_Blog] ([BlogId], [BlogTitle], [BlogAuthor], [BlogContent], [DeleteFlag]) VALUES (2, N'New Blog 2', N'Tno', N'This is Content', 0)
INSERT [dbo].[Tbl_Blog] ([BlogId], [BlogTitle], [BlogAuthor], [BlogContent], [DeleteFlag]) VALUES (3, N'New Blog 3', N'Tno', N'This is Content', 0)
SET IDENTITY_INSERT [dbo].[Tbl_Blog] OFF
GO
ALTER TABLE [dbo].[Tbl_Blog] ADD  CONSTRAINT [DF_Tbl_Blog_BlogTitle]  DEFAULT ((0)) FOR [BlogTitle]
GO
USE [master]
GO
